#Super user access
sudo: required
#Get docker and install
services:
    - docker

before_install:
    #- docker build -t harsittheking001/docker-react -f Dockerfile.dev .
    - docker build -t harsittheking001/docker-react .

#script:
#   - docker run -e CI=true harsittheking001/docker-react npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker-react"
    env: "DockerReact-env"
    bucket_name: "elasticbeanstalk-us-east-2-688786381981"
    bucket_path: "docker-react"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    edge: true
#https://travis-ci.community/t/deploy-fails-with-aws-signaturedoesnotmatch/5835    
#https://github.com/seiu503/member-app-2019/blob/08beed21fcada8ff8443d79b09bb4041b30c648b/.travis.yml#L22-L23    